@import url('./animations.css');

:root {
  --font-default: 'lores-12', sans-serif;
  --font-size-default: 12pt;
  --font-weight-default: 400;
  --font-size-subtitle: calc(var(--font-size-default) * 1.618);
  --font-size-title: calc(((var(--font-size-default)) * 1.618) * 2);
  --font-weight-subtitle: bold;

  --text-color: #fefdf9;
  /*--text-color-high-contrast: #ffff00;*/
  --text-color-high-contrast: #F8F8FF;
  --link-color-high-contrast: #00FF00;
  --background-color: #111111;
  --background-color-alt: #e1e1e1;

  --border-size-default: 2px;
  --border-size-thin: 1px;
  --padding-default: 2px 5px;

  --cursor-pointer: url('cursors/retro_90s/pointer.cur'), auto;
  --cursor-grab: url('cursors/retro_90s/move.cur'), auto;
  --cursor-select: url('cursors/retro_90s/select.cur'), auto;
  --cursor-text: url('cursors/retro_90s/text.cur'), auto;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  cursor: var(--cursor-pointer);
  background-color: var(--background-color);
}

hr.horizontal {
  width: 100%;
  height: var(--border-size-thin);
  border: none;
  background-color: var(--text-color);
}

*

p,
h1,
h2,
h3,
h4,
h5,
h6, .editable-text-area {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color-high-contrast);
  font-family: var(--font-default);
}

p {
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
}

h2 {
  font-weight: var(--font-weight-subtitle);
  font-size: calc(var(--font-size-subtitle));
}

textarea:focus {
  outline: none;
  caret-color: transparent;
}
.editable-text-area {
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  resize: none;
  width: 250px;
}
.editable-text-area:hover {
  cursor: var(--cursor-text);
}
.text-editor-default {
  min-height: var(--font-size-default);
  line-height: var(--font-size-default);
}
.text-editor-subtitle {
  font-size: var(--font-size-subtitle);
  min-height: var(--font-size-subtitle);
  line-height: var(--font-size-subtitle);
  font-weight: var(--font-weight-subtitle);
}
.text-editor-title {
  font-size: var(--font-size-title);
  min-height: var(--font-size-title);
  line-height: var(--font-size-title);
  font-weight: var(--font-weight-title);
}

.drag-window.active .title-bar {
  background-color: var(--text-color);
}
.drag-window.active .title-bar p {
  color: var(--background-color);
}
.grab, .grabbing {
  cursor: var(--cursor-grab) !important;
}
.drag-window.dragging,
.drag-window.dragging * {
  cursor: var(--cursor-grab) !important;
}

.dot-bg {
  background-color: var(--background-color);

  background-image:
    radial-gradient(circle, var(--text-color) 0.7px, transparent 0.7px),
    radial-gradient(circle, var(--text-color) 0.7px, transparent 0.7px);

  background-size: 6px 6px;
  background-position:
    0 0,
    3px 3px;

  background-repeat: repeat;
}

img {
  user-select: none;
  pointer-events: none;
}
