@import url('./animations.css');

:root {
  --font-default: 'lores-12', sans-serif;
  --font-size-default: 12pt;
  --font-weight-default: 400;
  --font-size-subtitle: calc(var(--font-size-default) * 2);

  --text-color: #111111;
  --background-color: #fefdf9;
  --background-color-alt: #e1e1e1;

  --border-size-default: 3px;
  --padding-default: 2px 5px;

  --cursor-default: url('cursors/normal.cur'), auto;
  --cursor-grab: url('cursors/precise.cur'), auto;
  --cursor-pointer: url('cursors/secondary.cur'), auto;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  cursor: var(--cursor-default);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: var(--font-size-default);
  font-family: var(--font-default);
  font-weight: var(--font-weight-default);
  color: var(--text-color);
}

h2 {
  font-family: var(--font-default);
  font-size: var(--font-size-subtitle);
}

.drag-window.dragging .title-bar {
  background-color: var(--text-color);
}
.drag-window.dragging .title-bar p {
  color: var(--background-color);
}

.dot-bg {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);

  background-image:
    radial-gradient(circle, var(--text-color) 1px, transparent 1px),
    radial-gradient(circle, var(--text-color) 1px, transparent 1px);

  background-size:
    6px 6px,
    6px 6px;
  background-position:
    0 0,
    3px 3px;
  background-repeat: repeat;
}
.dot-bg::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, var(--text-color) 1px, transparent 1px);
  background-size: 6px 6px;
  pointer-events: none;
  z-index: -1;
}
