@import url('./animations.css');

:root {
  --font-default: 'lores-12', sans-serif;
  --font-size-default: 12pt;
  --font-weight-default: 400;
  --font-size-subtitle: calc(var(--font-size-default) * 1.618);
  --font-weight-subtitle: bold;

  --text-color: #111111;
  --background-color: #fefdf9;
  --background-color-alt: #e1e1e1;

  --border-size-default: 3px;
  --border-size-thin: 2px;
  --padding-default: 2px 5px;

  --cursor-default: url('cursors/normal.cur'), auto;
  --cursor-grab: url('cursors/precise.cur'), auto;
  --cursor-pointer: url('cursors/secondary.cur'), auto;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  cursor: var(--cursor-default);
}

hr.horizontal {
  width: 100%;
  height: var(--border-size-thin);
  border: none;
  background-color: var(--text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  font-family: var(--font-default);
}

p {
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
}

h2 {
  font-weight: var(--font-weight-subtitle);
  font-size: calc(var(--font-size-subtitle));
}

.drag-window.dragging .title-bar {
  background-color: var(--text-color);
}
.drag-window.dragging .title-bar p {
  color: var(--background-color);
}

.dot-bg {
  background-color: var(--background-color);
  background-image: url('/src/assets/dot-bg.png');
  background-size: 6px 6px; /* or whatever size matches your SVG */
  background-repeat: repeat;
  background-position: 0 0;
}

img {
  user-select: none;
}
